header {
    text-align: center;
    background: url("gg-bridge.jpg");
    background-size: cover;
    color: rgb(255, 0, 0);
  }
  /*a {
    color: black;
  }*/
body {
  background-image: url("lights.jpg");
}

  h1 {
    font-size: 70px;
    text-shadow: 2px 2px #000066;
  }
  h2 {
    text-align: center;
  }
  img {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius:20px;
    max-width: 300px;
    max-width: 300px;
    box-shadow: 10px 08px 15px #888888;
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
  }
  .homework {
    color: black;
  }
  .aboutme {
    display: inline;
    color: white;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px #000066;
  }
a:hover{
  color:orange;
}
  article {
        /*max-width: 1000px;*/
        padding: 20px;
        margin: 0 auto;
    }

    #leftbox {
      box-sizing: content-box;
      width: 49%;
      float:left;
    }
    #rightbox {
      box-sizing: content-box;
      width: 49%;
      border: 0px;
      float:right;
    }
