header {
    text-align: center;
    background: url("gg-bridge.jpg");
    background-size: cover;
    color: rgb(229, 41, 0);
  }
body {
  background-image: url("lights.jpg");
  background-size: 100% 100%;
  /*padding: 5px 1px 1px 1px;*/
  background-repeat: no-repeat;
}

  h1 {
    font-size: 70px;
    text-shadow: 2px 2px #ffffff;
  }
  h2 {
    text-align: center;
    text-shadow: 1px 1px 10px #ffffff
  }
  img {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius:20px;
    max-width: 300px;
    max-width: 300px;
    box-shadow: 10px 08px 15px #888888;
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
    }
  .homework {
    color: black;
  }
  .aboutme {
    display: inline;
    color: white;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px 2px #ffffff;
  }
ol {
  list-style-type: none;
  text-align: center;
}
a, a:active, a:visited {
  color: white;
}

a:hover{
  color:orange;
}

    #leftbox {
      box-sizing: content-box;
      width: 49%;
      float:left;
    }
    #rightbox {
      box-sizing: content-box;
      width: 49%;
      border: 0px;
      float:right;
    }
